<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>


<p><%= link_to t("devise.mailer.invitation_instructions.accept"), Rails.application.credentials.send(Rails.env).dig(:frontend_url) + "?invitation_token=#{@token}" %></p>


<p><%= t("devise.mailer.invitation_instructions.ignore") %></p>